#input-form {
  padding: 5px;
}

#input-form button {
  margin-right: 10px;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  #input-form button {
    margin-right: 0;
  }
}
